body{
  display: flex;
  flex-direction: column;
  background-image: url(https://img.freepik.com/vecteurs-libre/fond-boulangerie-dessine-main_23-2148136973.jpg?w=1060&t=st=1674199343~exp=1674199943~hmac=699510b70e95e2d4f45680c0e04747179ee747d79f6bbb9c8bf32b846961570a);  
  background-size: cover;
}
body p{
  font-size: 25px;
  font-family: cursive;
  margin: 20px;
}
/*________________________________________________________________________________________________________________________________________________________________________
Formulaire 
*/
form{
  text-align: center;
  background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
  background-size: cover;
  border: 5px solid black;
  -moz-border-radius: 10px; /* Mozilla (Firefox) */
  -webkit-border-radius: 10px; /* Chrome, Safari, iPhone, Android, etc. */
  border-radius: 10px; /* Internet Explorer 9, Opera */
  margin: 20px;
}

  .impression{
  resize: none;
  background-color: #b9b9b9;
  color: #000;
  border-radius: 10%;
  padding: 1em;
  border: 2px solid black ;
  outline: none;
}
  .NoteLabel{
  resize: none;
  background-color: #b9b9b9;
  color: #000;
  border-radius: 10%;
  padding: 1em;
  border: 2px solid black ;
  outline: none;
}
/*________________________________________________________________________________________________________________________________________________________________________
Partie haute de la page 
*/
.selection_haute{
  display: flex;
  flex-direction: column;
  background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
  background-size: cover;
  font-family: cursive;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border: 5px solid black; 
  border-radius: 1%;
}
.titre{
  font-size: 50px;
}

/*________________________________________________________________________________________________________________________________________________________________________
centre de la page 
*/
.selection_milleu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px;
  background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
  background-size: cover;
  border: 5px solid black;
  border-radius: 1%;
}
.les_listes{
  display: flex;
  flex-direction: column;

}
.la_liste_ingredients{
  font-size: 20px;
}
.la_liste_ustensiles{
  font-size: 20px;
}
.image_galette{
  display: flex;

}
.galette_des_rois{
  width: 700px;
  height : 700px;

}



/*________________________________________________________________________________________________________________________________________________________________________
Bas de la page 
*/



.selection_basse{
  background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
  background-size: cover;
  margin: 50px;
  border: 5px solid black;
  border-radius: 1%;
}
.explication{
  text-align: left;
  margin: 20px;
}

.Coûte{
  text-align: right;
}
.auteur{
  text-align: center;
}


/*________________________________________________________________________________________________________________________________________________________________________
le Commantaire
*/


.Com{
  display: flex;
  flex-direction: row;
  background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
  background-size: cover;
  margin: 20px;
  border: 5px solid black;
  border-radius: 1%;

}

.Photo_de_profil_com{
  width: 100px;
  height : 100px;
  border: 2px solid black;

}
.Mes_not_com{
  display: flex;
  flex-direction: column;
  margin: 50px;
  border-radius: 1%;
}
.Nom_utilisateur{
  margin: 20px;
}
.date_publication{
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.titre_com{
  font-size: 30px;
  align-self: center;
} 
.message_com1{
  font-size: 20px;
}
.note_com1{
  font-size: 20px;
}

/*________________________________________________________________________________________________________________________________________________________________________
Barre  de navigation 
*/

.Recherche{
  resize : none;
  background-color: #b9b9b9;
  color: #000;
  padding: 1em;
  border: 1px solid black;
  outline: none;

}
.Searchbutton{
  background-image: url(https://cdn.icon-icons.com/icons2/1111/PNG/512/loupe_79257.png);
  background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 10%;

}
.barre_de_nav{
  align-items: flex-start;
  border: 5px solid black;
}

.barre_de_nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  border: 2px solid black;
}
  
.barre_de_nav li {
  float: left;
  border-right:1px solid #bbb;
}
  
.barre_de_nav  li:last-child {
  border-right: none;
}

.barre_de_nav  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
  .sigin {
  background-color:#444;
  height: 30px;
}
 .login{
  background-color: 	rgb(119,77,37);
  height: 30px;
 }
  .backgroundimage{
  background-image:url(https://media.istockphoto.com/id/815601974/fr/vectoriel/crocodile-de-dessin-anim%C3%A9-mignon-alligator-ou-dinosaure-portant-costume-noir-homme.webp?s=2048x2048&w=is&k=20&c=FTHuDeGc1mZ0mz8O5I7BSsnY56tv58YzSkhPzfgllKw=);
  background-size:cover;
  width: 32px;
  height: 32px;
}
  

.barre_de_nav ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.barre_de_nav ul.topnav li {float: left;}

.barre_de_nav ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.barre_de_nav ul.topnav li a.sigin {background-color: #444;}

.barre_de_nav ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  .barre_de_nav ul.topnav li.right, 
  .barre_de_nav ul.topnav li {float: none;}
}