/*________________________________________________________________________________________________________________________________________________________________________
body for all pages 
*/
body {
    display: flex;
    flex-direction: column;
    background-color: #e2bc74;
    margin:0;



}

body p {
    font-size: 25px;
    font-family: cursive;
    margin: 20px;
}

/*________________________________________________________________________________________________________________________________________________________________________
Navigation bar for all pages 
*/
.Search {
    /*Recherche*/
    resize: none;
    background-color: #b9b9b9;
    color: #000;
    padding: 1em;
    height: 1%;
    border: 1px solid black;
    outline: none;

}

.Searchbutton {
    background-color:rgb(255, 255, 255);
    background-image: url(https://cdn.icon-icons.com/icons2/1111/PNG/512/loupe_79257.png);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 10%;

}

.Navigation_bar {
    /*barre_de_nav*/
    align-items: flex-start;
}

.Navigation_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px solid black;
}

.Navigation_bar li {
    float: left;
    border-right: 1px solid #bbb;
}

.Navigation_bar li:last-child {
    border-right: none;
}
.link_profile{
    height: 30px;
}
.Navigation_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.sigin {
    background-color: #444;
    height: 30px;
}

.login {
    background-color: rgb(119, 77, 37);
    height: 30px;
}

.backgroundimage {
    background-image: url(https://media.istockphoto.com/id/815601974/fr/vectoriel/crocodile-de-dessin-anim%C3%A9-mignon-alligator-ou-dinosaure-portant-costume-noir-homme.webp?s=2048x2048&w=is&k=20&c=FTHuDeGc1mZ0mz8O5I7BSsnY56tv58YzSkhPzfgllKw=);
    background-size: cover;
    width: 32px;
    height: 32px;

}


.Navigation_bar ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.Navigation_bar ul.topnav li {
    float: left;
}

.Navigation_bar ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Navigation_bar ul.topnav li a.sigin {
    background-color: #444;
}

.Navigation_bar ul.topnav li.right {
    float: right;
}
.logout_button{
    margin:0;

}
.profil_button{
    margin:0;

}

@media screen and (max-width: 600px) {

    .Navigation_bar ul.topnav li.right,
    .Navigation_bar ul.topnav li {
        float: none;
    }
}

/*________________________________________________________________________________________________________________________________________________________________________
CSS "Page_Profil.html"
*/

.Title_page_profil {
    /*titre*/
    display: flex;
    flex-direction: column;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    font-family: cursive;
    margin: 8%;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

.Profile {
    /*Profil*/
    margin: 20px;
    padding-right: 10px;
    font-size: 200%;
}

/*________________________________________________________________________________________________________________________________________________________________________
        profile card
        */
.Profile_card {
    /*carte_profil*/
    display: flex;
    flex-direction: row;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    font-family: cursive;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
}

/*________________________________________________________________________________________________________________________________________________________________________
        profile picture
        */
.Profile_picture {
    /*Photo_profil*/
    width: 250px;
    height: 350px;
    border: 2px solid black;
}


/*________________________________________________________________________________________________________________________________________________________________________
        Name
        */

.Login_Displayname {
    /*déja en anglais*/
    display: flex;
    flex-direction: column;
}

.Login {
    /*déja en anglais*/
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.Display {
    /*déja en anglais*/
    display: flex;
    flex-direction: row;
    margin: 50px;
}





/*________________________________________________________________________________________________________________________________________________________________________
        Gestion Date
        */

.First_Last {
    /*déja en anglais*/
    display: flex;
    flex-direction: column;
}

.First {
    /*déja en anglais*/
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.Last {
    /*déja en anglais*/
    display: flex;
    flex-direction: row;
    margin: 50px;
}


/*________________________________________________________________________________________________________________________________________________________________________
CSS "Recette.html"
*/

/*________________________________________________________________________________________________________________________________________________________________________
        Form 
        */
form {
    text-align: center;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    -moz-border-radius: 10px;
    /* Mozilla (Firefox) */
    -webkit-border-radius: 10px;
    /* Chrome, Safari, iPhone, Android, etc. */
    border-radius: 10px;
    /* Internet Explorer 9, Opera */
    margin: 0;


}

.submit {
    background-color: #b9b9b9;
    color: #000;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
}

.opinion {
    /*impression*/
    resize: none;
    background-color: #b9b9b9;
    color: #000;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
}

.NoteLabel {
    /*déja en anglais */
    resize: none;
    background-color: #b9b9b9;
    color: #000;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
    margin-right: 60px;
}

/*________________________________________________________________________________________________________________________________________________________________________
        Top_page
        */
.Top_page {
    /*selection_haute*/
    display: flex;
    flex-direction: column;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border: 5px solid black;
    border-radius: 1%;
}

.title_page_recette {
    /*titre*/
    font-size: 75px;
}

/*________________________________________________________________________________________________________________________________________________________________________
        Mid_page
        */
.Mid_page {
    /*selection_milleu*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    border: 5px solid black;
    border-radius: 1%;
}

.Mid_page_lists {
    /*les_listes*/
    display: flex;
    flex-direction: column;

}

.Ingredients_list {
    /*la_liste_ingredients*/
    font-size: 20px;
}

.Utensils_list {
    /*la_liste_ustensiles*/
    font-size: 20px;
}

.pancake_picture {
    /*image_galette*/
    display: flex;

}

.king_pancake {
    /*galette_des_rois*/
    width: 700px;
    height: 700px;

}



/*________________________________________________________________________________________________________________________________________________________________________
        Bot_page
        */



.Bot_page {
    /*selection_basse*/
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    margin: 50px;
    border: 5px solid black;
    border-radius: 1%;
}

.Recipe_explanation {
    /*explication*/
    text-align: left;
    margin: 20px;
}

.Cost {
    /*Coûte*/
    text-align: right;
}

.author {
    /*auteur*/
    text-align: center;
}


/*________________________________________________________________________________________________________________________________________________________________________
        the Comment
        */


.Comments {
    /*Com*/
    display: flex;
    flex-direction: row;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    margin: 20px;
    border: 5px solid black;
    border-radius: 1%;

}

.Profil_picture_com {
    /*Photo_de_profil_com*/
    width: 100px;
    height: 100px;
    border: 2px solid black;

}

.My_comment {
    /*Mes_not_com*/
    display: flex;
    flex-direction: column;
    margin: 50px;
    border-radius: 1%;
}

.Username {
    /*Nom_utilisateur*/
    margin: 20px;
}

.date_publication {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.title_com {
    /*titre_com*/
    font-size: 30px;
    align-self: center;
}

.message_com1 {
    /*deja en anglais*/
    font-size: 20px;
}

.note_com1 {
    /*deja en anglais*/
    font-size: 20px;
}










/*________________________________________________________________________________________________________________________________________________________________________
CSS "Acceuil.html"
*/

.Title_page_accueil {
    /*titre*/
    display: flex;
    flex-direction: column;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    font-family: cursive;
    margin: 10%;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: 40%;
    border-radius: 10%;


}

/* **************** IMAGE PRINCIPALE ************* */
#imagePrincipale {
    padding-top: 60px;
    background: url(https://www.cuisineaddict.com/blog/wp-content/uploads/2020/07/visuel-principal-1-1080x580.jpg) no-repeat fixed 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 600%;
    margin-top: 10%;
    text-shadow: 1px 3px 2px black;
}

/* Patch titre trop grand */
.Title_page_profil h1 { 
    font-size: 100px; 
}

h3 {
    text-align: center;
    font-family: 'Dancing Script', cursive;

}

#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #000000;
    box-shadow: 1px 3px 2px black;
}

.Home {
    /*Accueil*/
    margin: 10%;
    padding-right: 10%;
}

.recommandation {
    /*déja en anglais*/
    display: flex;
    flex-direction: column;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    font-family: cursive;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;

}

.Title_Recomantation {
    /*titre_Recomantation*/
    margin: 10%;
}



/*________________________________________________________________________________________________________________________________________________________________________
        all recipe
        */
.Random_recipe {
    /*recette_random*/
    display: flex;
    flex-direction: row;

}
.moment_title {
    text-align: center; /* center text horizontally */
    margin: 0 auto; /* center element horizontally */
    padding-top: 5%;
    font-size: 250%;
}

/*________________________________________________________________________________________________________________________________________________________________________
        recipe 1
        */
.recipe_1 {
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    border: 3px solid black;
    border-radius: 1%;

    /*position: relative;*/
    color: black;
}

.recipe_1:hover {
    box-shadow: 0 10px 50px #000000;
    z-index: 2;
    transition: all 200ms ease-out;
    transform: scale(1.1);

}

a:link {
    text-decoration: none;
    color: black;
}

.Picture_recipe_1 {
    width: 350px;
    height: 350px;


}


/*________________________________________________________________________________________________________________________________________________________________________
        recipe 2
        */

.recipe_2 {
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    border: 3px solid black;
    border-radius: 1%;
}

.recipe_2:hover {
    box-shadow: 0 10px 50px #000000;
    z-index: 1;
    transition: all 200ms ease-out;
    transform: scale(1.1);

}

.Picture_recipe_2 {
    width: 350px;
    height: 350px;


}



/*________________________________________________________________________________________________________________________________________________________________________
        recipe 3
        */

.recipe_3 {
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    background-size: cover;
    border: 3px solid black;
    border-radius: 1%;
}

.recipe_3:hover {
    box-shadow: 0 10px 50px #000000;
    z-index: 1;
    transition: all 200ms ease-out;
    transform: scale(1.1);

}

.Picture_recipe_3 {
    width: 350px;
    height: 350px;


}

/*________________________________________________________________________________________________________________________________________________________________________
        footer
        */

footer {
    background-color: #bd8d2e;
    color: #FFFAE1;
    padding: 20px 0 20px 0;
    text-align: center;
    width: 100%;
    margin-top: 150px;
}



input,
textarea,
button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}

textarea {
    height: 120px;
}

button {
    font-size: 1.5em;
    background-color: #FFFAE1;
}

button:hover {
    background-color: #330c06;
    color: #292616;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#SecondLine {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}

#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

#copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}
.contact{

    background-image: none;
    border: none;
}
.legal_notice {
    text-align: center;
    text-decoration: underline;
    color: #007bff;
    font-size: 100%;
    margin-top: 1rem;
}

.legal_notice:hover {
    color: #0069d9;
    cursor: pointer;
}
#popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#popup-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#popup-close {
    text-align: right;
    color: black;
    font-size: 200px;
    float: right;
    font-weight: bold;
}
#popup-close:hover {
    color: black;
    font-size: 200px;
    float: right;
    font-weight: bold;
}
#popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#popup:target {
    display: block;
}

/*________________________________________________________________________________________________________________________________________________________________________
  search page      
        */
.Result_recipe {
    background-image: url(https://img.freepik.com/photos-gratuite/fond-bois-naturel_24837-269.jpg?w=1060&t=st=1674208907~exp=1674209507~hmac=8ca401b40067fc124452525362b1cfb92aa92840c88a9407530314c87379add8);
    border: 1px solid black; 
    padding: 16px; 
    width: 50%; 
    margin: 16px auto; 
    border-radius: 5px; 
    box-shadow: 2px 2px 2px #ccc; 
}
.Picture_result_recipe {
    /*image*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    width: 20%;
    /*height: 20%;*/
}

#filter-button{
     margin-top: 75px;
     margin-left: auto;
     margin-right: auto;   
}


.popup-close {
    color: #fff;
}

/*________________________________________________________________________________________________________________________________________________________________________
   page  login/registre
        */


.register_form, .login_form {
    margin:50px 20vw 0 20vw;
    background: #bd8d2e;
    padding: 0.5rem 3rem 6rem 3rem;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
  }

  .register_form p, .login_form p {
    color: white;
    font-weight: 500;
    opacity: .7;
    font-size: 1.4rem;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  }
    
  a {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
  }
  
  a:hover {
    text-shadow: 2px 2px 6px #00000040;
  }
  
  a:active {
    text-shadow: none;
  }
  .register_form input, .login_form input {
    /* pas de bordure */
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    width: 200px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.418);
  }

.register_form input:hover, .login_form input:hover,
input[type="email"]:focus,
input[type="password"]:focus{
  background: rgba(30, 0, 201, 0.568);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}
    
input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
  cursor: pointer;
}

::placeholder {
    color: #000;
}
.register_form input::placeholder, .login_form input::placeholder {
    color: #fff;
}
.login_form button{
    margin-top: 35px;
}


/***********create recipe***********************/



.recipe_create_name{
    resize: none;
    background-color: #b9b9b9;
    color: #000;
    font-size: large;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
    height: 30px;
    width: 100px;
}
.recipe_create_Difficult{
    resize: none;
    background-color: #b9b9b9;
    color: #000;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
}

.recipe_create_time{
    resize: none;
    background-color: #b9b9b9;
    color: #000;
    font-size: medium;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
    height: 20px;
    width: 100px;
}

.recipe_create_url{
    resize: none;
    background-color: #b9b9b9;
    color: #000;
    font-size: large;
    border-radius: 10%;
    padding: 1em;
    border: 1px solid black;
    outline: none;
    height: 1%;
    outline: none;
}

.recipe_create_ingredients{
    resize: none;
    background-color: #b9b9b9;
    color: #000;
    font-size: medium;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
    height: 20px;
    width: 200px;
}
.recipe_create_Utensils_list{
    text-align: left;
    justify-content: left;
    
}

.recipe_create_Utensils_list_checkbox {
   width: 10px;
}


.recipe_create_description{
    resize: none;
    background-color: #b9b9b9;
    color: #000;
    font-size: medium;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
}
.recipe_create_Cost{
    background-color: #b9b9b9;
    color: #000;
    font-size: medium;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
}
.recipe_create_submit{
    background-color: #b9b9b9;
    color: #000;
    font-size: medium;
    border-radius: 10%;
    padding: 1em;
    border: 2px solid black;
    outline: none;
    margin-bottom: 20px;
}

/*nav*/


/*________________________________________________________________________________________________________________________________________________________________________
CSS TELEPHONE 
*/


    
 
@media screen and (max-width: 991px) {
    /*________________________________________________________________________________________________________________________________________________________________________
    CSS TELEPHONE HOME 
    */
    #imagePrincipale {
        width: 100vw;
        background: url(https://www.cuisineaddict.com/blog/wp-content/uploads/2020/07/visuel-principal-1-1080x580.jpg) no-repeat;

    }

    .Picture_recipe_1
     {
        width: 230px;
        height: 200px;

    
    }
    .Picture_recipe_2 {
        width: 230px;
        height: 200px;

    
    }
    .Picture_recipe_3 {
        width: 230px;
        height: 200px;

    
    }
    body p {
        font-size: 35px;
    }
    /*________________________________________________________________________________________________________________________________________________________________________
    CSS TELEPHONE RECETTE        
    */

    .title_page_recette {
        /*titre*/
        font-size: 75px;
        margin-bottom: 20px;
    }

    .Mid_page {
        /*selection_milleu*/

        flex-direction: column-reverse;

    }
    .Mid_page_lists {
        /*les_listes*/
        flex-direction: row;
        margin: auto;
        
    }

    .Mid_page_lists .Ingredients {
        margin-right: 100px;
    }

    .king_pancake {
        /*galette_des_rois*/
        width: 500px;
        height: 500px;
        margin: auto;
    
    }
    .Recipe_explanation {
        /*explication*/
        font-size: 25px;
    }

    .Comments {
        margin: 50px;
    }

    .message_com1 {
        font-size: 25px;
    }

    .date_publication {
        font-size: 25px;
        margin-left: 0;
        margin-right: 0;

    }

    .date_publication strong {
        width: 165px;
    }

    .NoteLabel {
        margin-right: 60px;
    }
    /*________________________________________________________________________________________________________________________________________________________________________
    CSS TELEPHONE PROFILE        
    */

    .Title_page_profil {
        margin-top: 150px;
    }
    .Profile_picture {
        height: 230px;
    }
    .Profile_card p {
        font-size: 25px;
    }
    .Profile_card {
        margin-bottom: 225px;
        margin-top: 125px;
    }
    .Profile_card .Login, .Profile_card .Display, .Profile_card .First, .Profile_card .Last {
        margin:20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .contact input, .contact textarea, .contact button {
        width: 75vw;
    }
    /*________________________________________________________________________________________________________________________________________________________________________
    CSS TELEPHONE SEARCH      
    */

    .Picture_result_recipe {
        width: 40%;
    }

    footer a:link {
        font-size: 30px;
    }


    /*________________________________________________________________________________________________________________________________________________________________________
    CSS TELEPHONE LOGIN/REGISTER    
    */





    .register_form, .login_form {
        margin: 22vh 10vw 13vh 10vw;
    }
    .register_form{
        padding-bottom: 200px;
        margin: 20vh 10vw 11vh 10vw;
    }

    .register_form input, .login_form input{
        padding: 1.5rem 5rem;

    }
    .register_form button, .login_form button{
        margin-top: 15px;
    }

    .register_form p, .login_form p{
        font-size: 2.5rem;
    }
    

    

    


}

